@media only screen and (min-width: 495px){
    
    #login{
        width: 350px;
        background-color: white;
     
    }
    
    #logo{
        margin-bottom: 50px;
    }
    
    #center{
        width: 60%;
        background-color: white;
        margin-bottom: 25px;
     
    }
    
     #postcenter{
        width: 60%;
        margin-bottom: 25px;
     
    }
    
     #center-profile{
        width: 60%;
        margin-bottom: 25px;
         margin-left: auto;
        margin-right: auto;
     
    }
    
    #centernav{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #account{
        width: 350px;
        background-color: white;
        
    }
    input[type="text"]{
        background-color: #FAFAFA;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    
   
    
    input[type="email"]{
        background-color: #FAFAFA;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    input[type="password"]{
        background-color: #FAFAFA;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    input[type="submit"]{
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    input[type="file"].profileinput{
    width: 90%;
    margin-right: 3%;
    margin-left: 3%;
}
    
    input[type="text"]#search{
    float: center;
    width: 35%;
    margin-top: 30px;
    margin-left: 10%;
    border-radius: 25px;
    text-align: center;
    height: 25px;
}
    input[type="text"]#search:focus{
    background-position: 5px;
    text-align: left;
    padding-left: 25px;
}
    .profilelabel{
    width: 80%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
    input[type="submit"].profileinput{
    width: 250px;
    margin-top: 25px;
}
    #profile{
    margin-top: 35px;
    width: 10%; 

    }
    
    input#search:focus{
    width: 30%;
    }
    
    #addpicture{
        background-color: white;
        margin-bottom: 25px;
         border: 1px solid #DADADA;
        border-radius: 5px;
     
    }
    
    #file{
     width: 90%;
        margin-right: 5%;
        margin-left: 5%;
}
    #btnUp{
        float: left;
        width: 30%;
        margin-right: 5%;
        margin-left: 2%;
    }
    .myLabel {
        
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    label{
        margin: 0;
    }
    
    #addpicture h3{
        margin-left: 5%;
    }
    
     input[type="text"].uploadFile{
        background-color: #fff;
        width: 50%;
        margin-right: 5%;
        margin-left: 5%;
        float: left;
    }
    
    
  input[type="submit"].deleteinput{
    background-color: #B44A58;
    width: 140px;
    float: right;
    right: 10px;
    position: relative;

}
    #profileavatar{
    width: 100px;
        height: 100px;
    float: left;
    margin-left: 10px;;
    margin-top: 10px;
}

#profilelinks{
    float: right;
    text-align: right;
    margin-right: 10px;
    width: 15%;
}



.profileinfo{
    width: 45%;
}
    
    input[type="submit"].followinput{
    width: 15%;
}
    .proflinks{
        width: 20%;
    }
 
}
@media only screen and (min-width: 870px){
    input[type="text"]#search{
    width: 250px;
    margin-left: 10%;
    background-size: 5%;
    }
    
    #profileavatar{
    width: 150px;
        height: 150px;
}
    
    input[type="text"]#search:focus{
    padding-left: 30px;
    width: 240px;
    }
    
       .avatar{
    width: 150px;
    height: 150px;
    }
    
    .avatar-profile{
        width: 100px;
        height: 100px;
    }
    
    .postcenter{
        width: 550px;
    }
}
    
    @media only screen and (min-width: 1300px){
    input[type="text"]#search{
    width: 350px;
    }
        
    input[type="text"]#search:focus{
    width: 340px;
    }
        
 }