body{
    background-color: #FAFAFA;
    color: darkslategray;
}

#login{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 25px;
    padding-bottom: 25px;
    color: black;
    padding-top: 5px;
}

h2{
    font-size: 1.2em;
    color: #A5A7BC;
    text-align: center;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
}

#logo{
    background-image: url(../images/imdstagram.svg);
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -99999px;
    margin-top: 25px;
}

input[type="text"]{
    background-color: #FFF;
    height: 35px;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 2%;
    border: 1px solid #EAEAEA;
    }

input[type="password"]{
    background-color: #FFF;
     height: 35px;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 2%;
    border: 1px solid #EAEAEA;
}

input[type="submit"]{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5px;
    background-color: #4090DB;
    color: white;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

::-webkit-input-placeholder{
    color: grey;
}

#account{
     margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#account h4{
    font-size: 0.9em;
    text-align: center;
}