body{
    background-color: #FAFAFA;
    color: darkslategray;
}

.clearfix:after{
    visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

a{
    text-decoration: none;
    color: #1D557A;
}

#nav{
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
    border-bottom: #DADADA;
}

#login{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 25px;
    padding-bottom: 25px;
    color: black;
    padding-top: 5px;
}

#center{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 25px;
    padding-bottom: 25px;
    color: black;
    padding-top: 5px;
}

.postcenter{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 25px;
    padding-bottom: 20px;
    color: black;
    padding-top: 5px;
}

#center-profile{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 25px;
    padding-bottom: 25px;
    color: black;
    padding-top: 5px;
}

h2{
    font-size: 1.2em;
    color: #A5A7BC;
    text-align: center;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
}

h3{
    font-size: 1.5em;
    color: #1D557A;
    text-align: center;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    margin-top: 15px;
}

#account h4{
    font-size: 0.9em;
    text-align: center;
}

#logo{
    background-image: url(../images/imdstagram.svg);
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -99999px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#logo-top{
    background-image: url(../images/imdstagram.svg);
    width: 20%;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -99999px;
    margin-top: 25px;
    float: left;
    margin-left: 5%;
}

input#search{
    float: center;
    width: 40%;
     margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    text-align: center;
    height: 25px;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 8%;
}

#profile{
    float: right;
    width: 20%;
    margin-top: 25px;
   
    
}

#profile a{
    color: #1D557A;
}


input[type="text"]{
    background-color: #FFF;
    height: 35px;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 2%;
    border: 1px solid #EAEAEA;
    }

input[type="email"]{
    background-color: #FFF;
    height: 35px;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 2%;
    border: 1px solid #EAEAEA;
    }

input[type="password"]{
    background-color: #FFF;
     height: 35px;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 2%;
    border: 1px solid #EAEAEA;
}

input[type="submit"]{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5px;
    background-color: #4090DB;
    color: white;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

#oldpas{
    margin-top: 30px;
}

.formulier{
    margin-bottom: 5px;
}

::-webkit-input-placeholder{
    color: grey;
}

#account{
     margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input.profileinput{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
}

input[type="file"].profileinput{
    height: 35px;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 8%;
    padding-left: 2%;
}

.profilelabel{
    width: 80%;
    float: left;
    margin-left: 10%;
}

.feedback{
    color: #B44A58;
    margin-left: 5%;
    margin-top: 10px;
}

div.usernameFeedback{
    margin-left: 5%;
    margin-top: 10px;
    color: #B44A58;
    
}

.avatar{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-right: 5%;
    float: right;
    background-size:cover;
}

.avatar-profile{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}



.changeavatar{
    margin-top: 20px;
    float: left;
    width: 65%;
}


/*#info{
    margin-bottom: 50px;
    width: 100%;
    background-color: green;
}*/

#info-name{
    margin-bottom: 10px;
    
}

h2#username{
    text-align: left;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.postinfo{
    margin-bottom: 80px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.avatar-small{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    background-size: cover;
}

.postusername{
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    color: #1D557A;
}

.post{
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    border: 1px solid #DADADA;
    border-radius: 5px;
}

.profilepost{
    margin-bottom: 20px;

}

.postprofile{
    color: #1D557A;
    margin-bottom: 10px;
}

.postdescription{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#addpicture{
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
   
}

#file{
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
}

#addpicture h3{
    text-align: left;
    margin-left: 0;
    color: black;
    margin-left: 10%;
}

#addpicture input[type="submit"]{
    width: 25%;
}

.postpicture{
    width: 100%;
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

.myLabel {
    border-radius: 4px;
    background: #1D557A;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
    width: 50%;
    padding: 5px;
    margin-bottom: 25px;
    text-align: center;
}

input[type="text"].uploadFile{
    background-color: #FAFAFA;
    height: 35px;
    width: 80%;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 2%;
    border: 0;
}

.time{
    float: right;
    margin-top: 15px;
}

input[type="submit"].followinput{
    float: right;
    width: 35%;
}

#profiletop{
    margin-bottom: 100px;
    padding-bottom: 20px;
    width: 100%;
    
}

.profileinfo h2{
    color: #1D557A; 
    
}

#profileavatar{
    width: 75px;
    height: 75px;
    float: left;
    margin-left: 10px;;
    margin-top: 10px;
    background-size: cover;

}

.proflinks{
    float: right;
    text-align: right;
    margin-right: 10px;
    width: 15%;
    
}

.profileinfo{
    float: left;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 50%;
}

#unfollow{
    background-color: #B44A58;
}

#follow{
    width: 90%;
    text-align: right;
    height: 32px;
}

input[type="submit"].deleteinput{
    background-color: #B44A58;
    width: 140px;;
    float: right;
    position: relative;
    margin-right: 0;

}


#unlike{
    background-image: url(../images/liked-icon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin: 5px 0px;
    padding: 0;
    float: left;
}

#like:hover{
     background-image: url(../images/liked-icon.png);

    
}

#like{
    background-image: url(../images/like-icon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin: 5px 0px;
    padding: 0;
    float: left;
}

#likes{
    color: #1D557A;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#editprofile{
    border: 1px solid #828282;
    text-align: center;
    padding: 5px 0px;
    
}

#logout{
    border: 1px solid #828282;
    text-align: center;
    padding: 5px 0px;

}

#editprofile:hover{
    border: 1px solid #4B4F54;
    
    
}

#logout:hover{
    border: 1px solid #4B4F54;
     color: #4B4F54;
}

.proflinks a{
    color: #828282;
}

.proflinks a:hover{
    color: #4B4F54;
}